<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<% if @current_user != nil %>
<div>
  <div>
    <form action="/insert_photo" method="post">

      <label for="image_box">Image</label>

        <input type="file" id="image_box" name="query_image" class="form-control" enctype="multipart/form-data">

        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>

      <button>
        Add photo
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <% if a_photo.owner.private == false %>
      <tr>
        
       <td>
          <img src ="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>


        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
